body {
    background-color: #020204;
    color: whitesmoke;
    margin: 5%;
    font-family: sans-serif;
    text-align: center;
}

#container {
    padding: 40px;
    border: solid 1px whitesmoke;
    display: inline-block;
}

a {
    color: #DDDDFF;
}